/* Webfont: FuturaBT-Medium */@font-face {
    font-family: 'FuturaMdBT';
    src: url('FuturaBT-Medium.eot'); /* IE9 Compat Modes */
    src: url('FuturaBT-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaBT-Medium.woff') format('woff'), /* Modern Browsers */
         url('FuturaBT-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaBT-Medium.svg#FuturaBT-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

